# Não versione android/local.properties.
# sdk.dir=C:\Users\SEU_USUARIO\AppData\Local\Android\Sdk
# Firebase Local Emulator Suite visto pelo emulador Android.
firebase.useEmulators=true
firebase.emulatorHost=10.0.2.2
firebase.authEmulatorPort=9099
firebase.firestoreEmulatorPort=8080
